
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/index.jpg');
    background-size: cover; /* Adjusts the image to cover the entire container */
    background-attachment: fixed; /* Ensures the image is fixed */
    background-repeat: no-repeat; /* Prevents image from repeating */
    z-index: -1; /* Puts the image behind other content */
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}

.item {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#cashBalance {
    font-weight: bold;
    color: #007bff;
}

#purchaseAmountDisplay {
    font-weight: bold;
    color: #008000;
}

.container p.purchase-info {
    color: #777;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.container p.remaining-balance {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}
.container1{
height :600px;
width:1000px;
margin:20px;

}